* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  background-color: rgb(25, 14, 54);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(25, 14, 54);
  border: rgb(66, 37, 138) solid 2px;
}

body {
  background-image: url(./img/fundo.png);
  background-size: cover;
}

/*---------------header---------------*/

header {
  background-color: rgb(25, 14, 54);
  border-radius: 10px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #9a86fd63;
}

.logo {
  width: 150px;
  height: 150px;
  margin-left: 10px;
  cursor: pointer;
}

a.menu {
  text-decoration: none;
  font-size: 25px;
  color: rgb(241, 241, 73);
  margin: 20px;
}

form.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.search button {
  background: rgb(25, 14, 54);
  width: 45px;
  height: 45px;
  border: 3px solid rgb(66, 37, 138);
  border-left: none;
  border-radius: 0px 35px 35px 0px;
}

.search button svg {
  height: 25px;
  width: 100%;
  cursor: pointer;
}

.search input {
  color: rgb(241, 241, 73);
  font-size: 16px;
  background: transparent;
  width: 100%;
  height: 45px;
  padding: 10px;
  border: 3px solid rgb(66, 37, 138);
  border-right: none;
  outline: none;
  border-radius: 35px 0px 0px 35px;
  transition: all 0.5s;
}
/*-----------------FIm da header----------------*/
main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/*---------------musicas---------------*/

section.musicas {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(25, 14, 54);
  margin: 20px 0px 10px 10px;
  border-radius: 10px;
  box-shadow: #9a86fd63 0px 5px 15px;
}

.musicas div {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #9a86fd63;
  width: 100%;
}

iframe {
  width: 90%;
  height: 403px;
}

iframe:hover {
  box-shadow: #9a86fd63 0px 5px 15px;
}

.musicas h1 {
  color: rgb(241, 241, 73);
  text-align: center;
}

.musicas iframe {
  margin: 20px 0px 20px 0px;
  border-radius: 15px;
}

.musicas a {
  color: rgb(241, 241, 73);
  margin-bottom: 15px;
  text-decoration: none;
}

.musicas a:hover {
  transform: scale(110%);
}

/*---------------wallpapers---------------*/

section.wallpapers {
  width: 30%;
  background-color: rgb(25, 14, 54);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: #9a86fd63 0px 5px 15px;
}

.wallpapers img {
  width: 90%;
  height: 200px;
  margin: 10px 0px 30px 10px;
  cursor: pointer;
}

.wallpapers div {
  border-bottom: #9a86fd63 2px solid;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.wallpapers h1 {
  color: rgb(241, 241, 73);
  text-align: center;
}

.wallpapers button {
  width: 70px;
  height: 20px;
  margin: 0px 0px 35px 10px;
  background: transparent;
  border-radius: 5px;
  border: rgb(241, 241, 73) 1px solid;
  color: #fff;
  cursor: pointer;
}

.wallpapers button:hover {
  background-color: #ffffff41;
  border: #08fd0c83 2px solid;
}

/*---------------Footer---------------*/

footer {
  width: 100%;
  height: 100%;
  background-color: rgb(25, 14, 54);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: #9a86fd63 0px 5px 15px;
}

.img-form img {
  width: 400px;
  height: 1000px;
}

.form-avaliacao {
  width: 30%;
  height: 100%;
  border: 2px solid rgb(86, 32, 221);
  background-color: rgb(40, 23, 85);
  box-shadow: #9a86fd63 0px 5px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.form-avaliacao h3,
label {
  color: rgb(241, 241, 73);
}

.form-avaliacao form {
  width: 90%;
  display: flex;
  margin: 15px 0px 15px 0px;
  justify-content: flex-start;
  flex-direction: column;
}

.form-avaliacao input {
  background-color: transparent;
  border: 2px solid #08fd0c83;
  box-shadow: #08fd0c70 0px 5px 10px;
  border-radius: 10px;
  height: 50px;
  color: rgb(241, 241, 73);
}

.form-avaliacao textarea {
  width: 100%;
  height: 100px;
  max-width: 100%;
  max-height: 100px;
  min-width: 100%;
  min-height: 100px;
  background-color: transparent;
  border: 2px solid #08fd0c83;
  box-shadow: #08fd0c70 0px 5px 10px;
  color: rgb(241, 241, 73);
  border-radius: 10px;
  margin-bottom: 20px;
}

.form-avaliacao button {
  background-color: rgb(241, 241, 73);
  border: 2px solid rgb(236, 236, 35);
  box-shadow: rgba(241, 241, 73, 0.548) 0px 5px 10px;
  border-radius: 10px;
  height: 50px;
  color: black;
  font-size: 15px;
  cursor: pointer;
  transition: transforme 0.2s ease-in-out;
}

.form-avaliacao button:active {
  transform: scale(0.95);
}

/*---------------Responsividade---------------*/

@media (max-width: 1366px) {
  .wallpapers div {
    flex-direction: column;
    align-items: center;
  }

  iframe {
    width: 550px;
    height: 350px;
  }
}

@media (max-width: 1100px) {
  .wallpapers img {
    width: 90%;
    height: 50%;
    border-radius: 0px;
  }

  .wallpapers div {
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 940px) {
  iframe {
    width: 90%;
    height: 90%;
  }

  .musicas iframe {
    border-radius: 0px;
  }
}

@media (max-width: 450px) {
  /*header*/
  header nav {
    display: none;
  }

  a.menu {
    font-size: 15px;
  }

  .logo {
    width: 100px;
    height: 100px;
  }
  /*fim da header*/

  /*main*/
  main {
    flex-direction: column;
  }

  section.musicas {
    width: 95%;
  }

  .musicas div {
    width: 100%;
  }

  iframe {
    width: 95%;
    height: 250px;
  }

  section.wallpapers {
    width: 95%;
  }

  .wallpapers div {
    width: 100%;
  }
  /*Fim da main*/

  /*footer*/
  footer {
    flex-direction: column-reverse;
  }

  .img-form img {
    width: 300px;
    height: 750px;
  }
  .form-avaliacao {
    width: 90%;
    margin: 10px 0px 15px 0px;
  }
}
